// Runner target 的应用级设置。
//
// 未来这里可能会被元数据（例如 pubspec.yaml）自动生成的内容替换。
// 如果没有替换，当该文件成为 `flutter create` 模板时，下面的值会默认使用项目名称。

// 应用名称；默认也作为 Flutter 窗口标题。
PRODUCT_NAME = WOD Client

// 应用的 bundle identifier。
PRODUCT_BUNDLE_IDENTIFIER = com.example.robomasterCustomClient1

// 应用信息中显示的版权声明。
PRODUCT_COPYRIGHT = Copyright © 2026 com.example. All rights reserved.
